<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My new web</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div style="color: red">
        @RenderBody()
        <h2>Static message</h2>
    </div>
</body>
</html>